body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0%   {        transform:rotate(0deg);
    }
 
    100% {        transform:rotate(359deg);
    }
  }
 
 body > img{
       /* border: 2px solid black; */
 
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation: spin 1s linear infinite;
    width: 50%;
 }

